[submodule "SurfSense-Frontend"]
	path = SurfSense-Frontend
	url = https://github.com/MODSetter/SurfSense-Frontend.git
[submodule "ss-cross-browser-extension"]
	path = ss-cross-browser-extension
	url = https://github.com/MODSetter/ss-cross-browser-extension.git
