#true if you wana run local setup with Ollama 
IS_LOCAL_SETUP = 'false'

#Your Unstructured IO API Key. Use any value if running a local instance or file upload support isn't needed.
UNSTRUCTURED_API_KEY = ""

#POSTGRES DB TO TRACK USERS
POSTGRES_DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost:5432/surfsense"

# API KEY TO PREVENT USER REGISTRATION SPAM
API_SECRET_KEY = "surfsense"

# Your JWT secret and algorithm
SECRET_KEY = "your_secret_key"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 720