python-dotenv
pydantic
bcrypt
cryptography
fastapi
python-jose
python-multipart
SQLAlchemy
uvicorn
passlib
langchain
langchain-core
langchain-community
langchain-experimental
langchain_openai
langchain_ollama
langchain_chroma
flashrank
psycopg2
unstructured-client
langchain-unstructured
langgraph
gpt_researcher
langgraph-cli
weasyprint
json5
loguru
ffmpeg
podcastfy
wsproto